# VITE_API_BASE_URL=http://localhost:3000
DB_HOST='localhost'
DB_USER='root'
DB_PASSWORD='12112005'
DB_NAME='ecommerce'
DB_PORT=3306

MAIL_HOST='localhost'
MAIL_SERVICE='gmail'
MAIL_USER = 'huonthanun01@gmail.com'
MAIL_PASSWORD = 'hlqxmxchnazsxvic'

PORT=3000